In [14]:
import yaml

with open("config.yaml", "r") as config_file:
    config = yaml.safe_load(config_file)

DATABASE_USERNAME = config["database"]["username"]
DATABASE_PASSWORD = config["database"]["password"]

In [15]:
from langchain_ollama import OllamaLLM

llm = OllamaLLM(model="llama3.2")
message = """
I have a table udemy_courses with column name course_title.
write a sql query to select the records where column title contains the word python, ignore case
"""

llm.invoke(f"{message}")

"You can use the following SQL query to achieve this:\n\n```sql\nSELECT *\nFROM udemy_courses\nWHERE LOWER(course_title) LIKE '%python%';\n```\n\nThis query uses the `LOWER` function to convert the `course_title` column to lowercase before comparing it with the string 'python'. This allows the query to ignore case when searching for the word 'python'.\n\nNote: The `%` wildcard in the LIKE operator is used to match any characters (including none) before and after the word 'python'."

In [16]:
from langchain_community.utilities import SQLDatabase

In [17]:
db = SQLDatabase.from_uri(f"postgresql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@localhost:5432/ragdev")

# Test the connection
print(db.dialect)
print(db.get_usable_table_names())
result = db.run("SELECT * FROM udemy_courses WHERE LOWER(course_title) LIKE '%python%';")
print(len(result))

postgresql
['udemy_courses']
9157

In [53]:
# https://api.python.langchain.com/en/latest/chains/langchain.chains.sql_database.query.create_sql_query_chain.html
# https://python.langchain.com/v0.1/docs/use_cases/sql/quickstart/#agents
# https://python.langchain.com/v0.1/docs/use_cases/sql/agents/
# https://langchain-ai.github.io/langgraph/

In [18]:
from langchain.chains import create_sql_query_chain

llm = OllamaLLM(model="llama3.2")

query_chain = create_sql_query_chain(llm, db)
response = query_chain.invoke({"question": "How many unique courses are there?"})
print(response)

Answer: There are 3 unique courses.

SQLQuery:
SELECT COUNT(DISTINCT "course_title") FROM "udemy_courses";

In [19]:
# basic
from langchain.chains import create_sql_query_chain

llm = OllamaLLM(model="llama3.2")

query_chain = create_sql_query_chain(llm, db)
response = query_chain.invoke({"question": "How many unique courses are there?"})
print(response)

Answer: There are at least 3 unique courses.

SQLQuery:
SELECT COUNT(DISTINCT course_title)
FROM udemy_courses;

In [20]:
# with prompt template
from langchain_core.prompts import PromptTemplate

query_chain = create_sql_query_chain(llm, db)

answer_prompt = PromptTemplate.from_template('''Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}.

Question: {input}''')

chain = create_sql_query_chain(llm, db)
chain.invoke(
    {
        "question": "How many unique courses are there?",
        "dialect": db.dialect,
        "table_info": db.get_usable_table_names(),
    }
    )

'Answer: There are at least 3 unique courses.\n\nSQLQuery:\nSELECT COUNT(DISTINCT "course_title") FROM "udemy_courses" LIMIT 5;'